In [12]:
import numpy as n 
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('new.csv')
d=pd.DataFrame(df)
s=d['marks']
s

0    80
1    75
2    78
3    79
4    81
5    60
6    70
7    79
8    75
9    65
Name: marks, dtype: int64

In [13]:
print(sum(s))

742

In [15]:
print(n.max(s))

81

In [18]:
print(s[1])

75

In [31]:
import numpy as n 
import pandas as p 
from pandas import ExcelWriter
from pandas import ExcelFile
data=p.read_excel('book1')
d=p.DataFrame(data)
s=d['marks']
s

0    98.0
1    93.0
2    91.0
3    82.0
4     0.0
5    74.0
6     NaN
7    74.0
8    61.0
Name: marks, dtype: float64

In [23]:
print(n.max(s))

98.0

In [30]:
k=s.fillna(45)
k

0    98.0
1    93.0
2    91.0
3    82.0
4     0.0
5    74.0
6    45.0
7    74.0
8    61.0
Name: marks, dtype: float64